{% block content %}
<div class="add-item-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</div>
{% block styles %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: #3f51b5;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }

  .header h1 {
    margin: 0;
    font-size: 28px;
  }

  .header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header nav li {
    margin-left: 20px;
  }

  .header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .header nav a:hover {
    color: #cfd8dc;
  }

  .header .user-controls {
    display: flex;
    align-items: center;
  }

  .header .user-controls .button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #3f51b5;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
  }

  .header .user-controls .button:hover {
    background-color: #f5f5f5;
  }

  .add-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: auto;
    width: 660px;
    margin: auto;
  }

  .add-item-container h1 {
    color: black;
  }

  form {
    width: 60%;
    background-color: #3f51b5;
    padding: 20px;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
  }

  button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
  }

  button[type="submit"]:hover {
    background-color: green;
  }
</style>
{% endblock %} {% endblock %}
